<!--Header top-->
<div class="navbar navbar-inverse hidden-xs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img class="sto-logo" src="~/Content/Img/LogoVAV.png" />
        </div>
        <div class="collapse navbar-collapse appiNav">
            <ul class="nav navbar-nav">
                <li><a href="#featureWrap"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Giới Thiệu</a></li>
                <li><a href="#productWrap"><i class="fa fa-paper-plane" aria-hidden="true"></i>Giảng Dậy</a></li>
                <li><a href="#pricingWrap"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Hợp Tác</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:15px;">
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">Đăng Nhập</a></li>
                <!--<li><a href="#">Đăng Ký</a></li>-->
                <!--<li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                        <img alt="" src="#">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>-->
            </ul>
            <!-- Modal -->

        </div><!--/.nav-collapse -->
        <!--end menu small-->
    </div>
</div>
<div id="top-content" class="container-fluid hidden-sm hidden-md hidden-lg">
    <div class="row">
        <div class="navbar navbar-inverse hidden-sm hidden-md hidden-lg">
            <button type="button" class="navbar-toggle collapsed sb-toggle-left" data-toggle="offcanvas" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="sto-logo" src="~/Content/Img/LogoVAV.png" />
        </div>
        <div class="sb-slidebar sb-left sb-style-overlay hidden-sm hidden-md hidden-lg">
            <div class="nav-menutop2">
                <ul class="nav">
                    <li>
                        <a href="Index.html">Công Nghệ Thông Tin</a>
                        <div class="wrap-popup column1">
                            <div class="popup">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h3>brand</h3>
                                        <ul class="nav">
                                            <li><a href="#">canon</a></li>
                                            <li><a href="#">samsung</a></li>
                                            <li><a href="#">nikon</a></li>
                                            <li><a href="#">apple</a></li>
                                            <li><a href="#">toshiba</a></li>
                                            <li><a href="#">hp</a></li>
                                            <li><a href="#">nokia</a></li>
                                            <li><a href="#">Sony</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nosub"><a href="#">Electtronic</a></li>
                    <li class="nosub"><a href="#">New arrivals</a></li>
                    <li class="nosub"><a href="#">Bestseller</a></li>
                    <li class="more-menu"><a href="#">Bags &amp; Cases</a></li>
                    <li class="more-menu"><a href="#">Accessories</a></li>
                    <li class="view-more"><a href="#">More category</a></li>
                    <li class="view-more"><a href="#">More category</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--End Header Top-->
