<!--Slider-->
<div class="sto-slider">
    <div class="flexslider ma-nivoslider">
        <div class="ma-loading"></div>
        <div id="ma-inivoslider-banner7" class="slides">
            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
            <img src="~/Content/Img/20160326091646-56f5f10e5c782.png" />
        </div>
    </div><!-- /.flexslider -->
</div>
<!--End Slider-->