
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="hiddenmenu" style="display: block;">
    <div class="container">
        <div class="nav-hidden-menu col-md-8 col-sm-8">
            <ul>
                <li class="tab-btn btn-description activehiddenmenu">
                    <a href="#description">Mô tả khóa học</a>
                </li>
                <li class="tab-btn btn-curriculum">
                    <a href="#curriculum">Đề cương</a>
                </li>
                <li class="tab-btn btn-instrutor">
                    <a href="#instructor">Giảng viên</a>
                </li>
                <li class="tab-btn btn-review">
                    <a href="#review">Đánh giá</a>
                </li>
            </ul>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="row button-hoc">
                <div class="btn-hoc col-md-6 col-sm-6">
                    <a class="btn btn-primary" href="">Đăng ký học</a>
                </div>

                <div class="gia-hidenmenu col-md-6 col-sm-6">
                    <strong>1 200.000 VNĐ</strong><i class="icon-wallet-money right"></i>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 body-course-info">
        <div class="row">
            <div class="col-sm-12 col-md-12 nopadding-xs">
                <div class="sto-course-info">
                    <div class="nopadding-xs nopadding-sm sto-course-title ">
                        <div class="row nomargin">
                            <div class="col-sm-2 col-md-2 sto-teacher-info">
                                <div class="instructor-course">
                                    <a href="#">
                                        <div class="item-avatar">
                                            <img src="http://it.myclass.vn/wp-content/uploads/avatars/353/5a96a8aa631840d82099d6b5a0ebdb06-bpthumb.jpg" alt="Profile Photo">
                                        </div>
                                    </a><h5 class="course-instructor">
                                        <a href="#"></a><a href="#">Vũ Nguyễn Anh Huy<span>Trưởng nhóm lập trình game</span></a>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-10">
                                <h1>Lập Trình Visual C# Căn Bản</h1><br>
                                <div id="item-meta">
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span>(Đánh giá)</span>
                                        </div>
                                    </div>
                                    <div class="course-common-info row col-md-10 nopadding">
                                        <div class="col-md-4 col-sm-4">
                                            <div>
                                                <span>
                                                    <i class="fa fa-user" aria-hidden="true"></i>Học viên: 530
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div>
                                                <span>
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Thời gian: 02 giờ 18 phút
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div>
                                                <span>
                                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Bài học: 18
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="sto-intro-video">
                    <div class="sto-video-player">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/rtviC6i42bc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="sto-pricing-course">
                    <div class="actions">
                        <a class="btn btn-primary" href="">Đăng ký học</a>
                    </div>
                    <div class="course_details">
                        <ul>
                            <li>
                                <strong>460.000 VNĐ</strong>
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <span class="tongthoigiankhoahoc">32 giờ 36 phút</span>
                            </li>
                            <li>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <a href="http://it.myclass.vn/level/level-2/" rel="tag">Level 2</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sto-item-share">
                        <ul>
                            <li>
                                <a class="btn-social-icon btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a class="btn-social-icon btn-twitter">
                                    <span class="fa fa-twitter"></span>
                                </a>

                            </li>
                            <li>
                                <a class="btn-social-icon btn-google">
                                    <span class="fa fa-google"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="sto-course-decription">

                    <!-- Nav tabs -->
                    <ul class="course-navigation course-menu" role="tablist">
                        <li role="presentation" class="active"><a href="/#introduction" aria-controls="profile" role="tab" data-toggle="tab">Giới thiệu</a></li>
                        <li role="presentation"><a href="/#teacher" aria-controls="profile" role="tab" data-toggle="tab">Giáo viên</a></li>
                        <li role="presentation"><a href="/#outline" aria-controls="profile" role="tab" data-toggle="tab">Chương trình</a></li>
                        <li role="presentation"><a href="/#reviews" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="introduction">
                            <div class="introduction">
                                <div class="sto-course-introduction">
                                    <div class="collapse-text">
                                        <div style="font-size: 14px !important;">
                                            <p style="text-align: justify;"><span style="color: #000000;">Ngày nay, cùng với nhu cầu phát triển của xã hội, mỗi người trong chúng ta sẽ ít nhất phải đứng trước công chúng vài ba lần trong đời. Bạn phải thay mặt nhóm học ở lớp thuyết trình cho bài tập được giao trước lớp, bạn phải bảo vệ luận văn tốt nghiệp trước Hội đồng các thầy cô, và sau này, bạn còn thuyết phục khách hàng về tính khả thi của dự án mà bạn đang đảm nhận…</span></p>
                                            <p style="text-align: justify;"><span style="color: #000000;"><span style="color: #000000;">Và, sẽ có lúc bạn tự hỏi: tại sao có người nói chuyện trước đám đông lại tự tin và cuốn hút đến vậy, trong khi bạn hay những người khác lại không thể nào hoàn thành bài thuyết trình một cách xuất sắc, dù bạn đã chuẩn bị rất kỹ?</span></span></p>
                                            <p style="text-align: justify;"><span style="color: #000000;"><strong><span style="color: #000000;">Kỹ năng thuyết trình yếu kém sẽ khiến bạn mất đi nhiều cơ hội nghề nghiệp, thăng tiến và chứng tỏ năng lực của mình với người khác</span></strong><span style="color: #000000;">. Và đây là kỹ năng bạn hoàn toàn có thể rèn luyện được.</span></span></p>
                                            <p style="text-align: justify;"><span style="color: #000000;"><span style="color: #000000;">Khóa học<span style="color: #008000;"> <strong>Kỹ năng thuyết trình</strong></span> của&nbsp;<strong>Ths. Nguyễn Hoàng Khắc Hiếu</strong>&nbsp;– với nhiều năm kinh nghiệm làm diễn giả, sẽ cung cấp cho bạn các kỹ năng cần thiết để <strong>thuyết trình một cách ấn tượng, lôi cuốn:</strong><br></span></span></p>
                                            <p style="text-align: justify;"><span style="color: #000000;"><span style="color: #000000;">Khóa học Kỹ năng thuyết trình và nói trước công chúng giúp bạn:</span></span></p>
                                            <ul style="text-align: justify;">
                                                <li><span style="color: #000000;"><span style="color: #000000;">Biết cách chuẩn bị nội dung<strong> chất lượng</strong>, cách trình bày<strong> sáng tạo</strong></span></span></li>
                                                <li><span style="color: #000000;"><span style="color: #000000;">Tận dụng tối đa hiệu quả của cách trình bày PowerPoin<strong>t</strong></span></span></li>
                                                <li><span style="color: #000000;"><span style="color: #000000;">Các bí quyết<strong> thu hút khán giả</strong> trong khi thuyết trình như một diễn giả</span></span></li>
                                                <li><span style="color: #000000;">Tạo dựng<strong> phong cách thuyết trình lôi cuốn</strong> của chính bạn</span></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="teacher">
                            <div id="teacher" class="teacher-showoff">
                                <div class="sto-course-teacher">
                                    <div>
                                        <img src="http://it.myclass.vn/wp-content/uploads/avatars/353/5a96a8aa631840d82099d6b5a0ebdb06-bpthumb.jpg" alt="Profile Photo">
                                        <div class="" style="margin-left: 15px; display: inline-block">
                                            <h4>Nguyễn Hoàng Khắc Hiếu</h4>
                                            <span>Tiến sĩ tâm lý học</span>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="tl_intro_teacher_description collapse-text">
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">- Tiến Sĩ Tâm lý học, giảng viên khoa Tâm lý Giáo dục, trường Đại học Sư phạm Tp.HCM.</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;" data-mce-mark="1">&nbsp;</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">- Cố vấn đào tạo Trung tâm Đào tạo Kỹ năng sống Ý Tưởng Việt.</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">&nbsp;</span></div> <i class="fa fa-play-circle"></i>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">- Chuyên gia tư vấn tâm lý tổng đài 1088</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">&nbsp;</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">-&nbsp;Tư vấn các mục tâm lý Bạn trẻ - thế giới teen - tổ ấm… của báo Tuổi Trẻ, báo Thanh Niên, tạp chí VTM, tạp chí Thế Giới Gia Đình, tạp chí Mẹ Yêu Bé, báo Phụ Nữ Tp.HCM, báo Tiếp Thị Gia đình, báo Thế giới Văn hóa… Tư vấn trên một số trang web dành cho teen và bạn trẻ, Tư vấn trên chuyên mục tâm lý của Đài truyền hình Việt Nam (VTV6), HTV7, HTV9, HTV4,…</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">&nbsp;</span></div>
                                            <div class="mhl" style="text-align: justify;"><span style="color: #333333;">&nbsp;- Fan page thầy Hiếu:</span><br><span style="color: #333333;">https://facebook.com/thaogochuyenkhodo</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="outline">
                            <div id="curiculums">
                                <div class="sto-course_curriculum">
                                    <div class="course_curriculum">
                                        <div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>WordPress – LINK TOÀN BỘ SOURCE CODE</h6>
                                        </div><h5 class="course_section">Chương 1: Căn bản về Wordpress &amp; Website</h5><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 1: Tại sao chọn WordPress</h6><span><i class="icon-clock"></i>20 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 2: Tổng quan về thiết kế web và các bước xây dựng – Phần 1</h6><span><i class="icon-clock"></i>30 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 3: Tổng quan về thiết kế web và các bước xây dựng – Phần 2</h6><span><i class="icon-clock"></i>21 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 4: Cài đặt Web server XAMPP</h6><span><i class="icon-clock"></i>16 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 4.1 Cài đặt XAMPP cho máy Macbook</h6><span><i class="icon-clock"></i>07 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6><a href="http://it.myclass.vn/unit/bai-5-khai-niem-ve-co-so-du-lieu-luu-tru/?id=5728">Bài 5: Khái niệm về Cơ sở dữ liệu lưu trữ<span class="khoahocxemtruoc">Xem trước</span></a></h6><span><i class="icon-clock"></i>11 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 6: Cơ sở dữ liệu MySQL và PHPMYADMIN</h6><span><i class="icon-clock"></i>17 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 7: Tải và Cài đặt WordPress</h6><span><i class="icon-clock"></i>18 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 8: Sửa lỗi Phân quyền – FTP Upload hình ảnh và plugin trên Macbook</h6><span><i class="icon-clock"></i>13 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 9: Cấu hình ngôn ngữ website – giải thích menu trong Admin</h6><span><i class="icon-clock"></i>21 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>BÀi 10: Tạo trang và cấu hình Trang chủ mặc định cho website</h6><span><i class="icon-clock"></i>08 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 11: Theme – Giao diện trong WordPress</h6><span><i class="icon-clock"></i>29 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 12: Plugin – Gói mở rộng trong WordPress</h6><span><i class="icon-clock"></i>29 phút</span>
                                        </div><h5 class="course_section">Chương 2 : Dự án 1: Xây dựng web Bán hàng - Thương mại điện tử - Mẫu 1</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Source-code Bán hàng Mẫu 1</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>BÀi 13: Giới thiệu về dự án &amp; Phân tích nhu cầu khách hàng</h6><span><i class="icon-clock"></i>10 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 14: Cài đặt mã nguồn tại localhost</h6><span><i class="icon-clock"></i>17 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 15: Hiệu chỉnh tổng quan về giao diện</h6><span><i class="icon-clock"></i>26 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 16: Hiệu chỉnh menu</h6><span><i class="icon-clock"></i>30 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 17: Plugin WooCommerce – Phần 1</h6><span><i class="icon-clock"></i>37 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 18: Plugin WooCommerce – Phần 2</h6><span><i class="icon-clock"></i>23 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 19: Quản lý Danh mục – Thương hiệu – Từ khoá cho Sản phẩm</h6><span><i class="icon-clock"></i>23 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 20: Quản lý Thuộc tính cho Sản phẩm</h6><span><i class="icon-clock"></i>09 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 21: Tạo Sản phẩm – Sản phẩm đơn giản</h6><span><i class="icon-clock"></i>22 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 22: Tạo Sản phẩm – Sản phẩm theo nhóm</h6><span><i class="icon-clock"></i>14 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 23: Tạo Sản phẩm – Sản phẩm biến thể – quản lý sản phẩm</h6><span><i class="icon-clock"></i>32 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 24: Slide show – Slider Revolution – Phần 1</h6><span><i class="icon-clock"></i>40 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 25: Slide show – Slider Revolution – Phần 2</h6><span><i class="icon-clock"></i>23 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 26: Slide show – Slider Revolution – Phần 3</h6><span><i class="icon-clock"></i>30 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6><a href="http://it.myclass.vn/unit/bai-27-tao-va-quan-ly-danh-sach-tu-khoa-tags/?id=5728">Bài 27: Tổng quan Visual Composer – Page builder<span class="khoahocxemtruoc">Xem trước</span></a></h6><span><i class="icon-clock"></i>13 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 28: Visual composer – page builder Phần 2</h6><span><i class="icon-clock"></i>16 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 29: Visual Composer – Page builder – Phần 3</h6><span><i class="icon-clock"></i>15 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 30: Visual composer – Page Builder – Phần 4</h6><span><i class="icon-clock"></i>25 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 31: Visual Composer – Page Builder Phần 5</h6><span><i class="icon-clock"></i>16 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 32: Visual composer – Page builder – Phần 6</h6><span><i class="icon-clock"></i>26 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 33: Visual Composer – Page builder phần cuối</h6><span><i class="icon-clock"></i>17 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 34: Menu – Mega menu</h6><span><i class="icon-clock"></i>40 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 35: Widget – sidebar – TESTIMONIALS – Ý kiến khách hàng</h6><span><i class="icon-clock"></i>25 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 36: Footer – Sidebar Footer</h6><span><i class="icon-clock"></i>25 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 37: Quản lý bài viết – sự kiện</h6><span><i class="icon-clock"></i>24 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 38: Contact form – liên hệ – phần 1</h6><span><i class="icon-clock"></i>27 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 39: Contact form – liên hệ – phần 2</h6><span><i class="icon-clock"></i>10 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 40: Cài đặt và cấu hình Email – Phần 1</h6><span><i class="icon-clock"></i>13 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 41: Tạo và cấu hình email Phần 2 – Tạo mail server miễn phí với Zoho</h6><span><i class="icon-clock"></i>10 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 42: Cài đặt và sử dụng plugin Google Map</h6><span><i class="icon-clock"></i>12 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 43: Cài đặt và sử dụng plugin Chat Zopim (giống myclass.vn)</h6><span><i class="icon-clock"></i>18 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 44: Cài đặt và sử dụng Plugin SEO – phần 1</h6><span><i class="icon-clock"></i>29 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 45: Viết bài chuẩn SEO – Phần 2</h6><span><i class="icon-clock"></i>18 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 46: Tích hợp và cấu hình công cụ phân tích trang Google Analysis</h6><span><i class="icon-clock"></i>25 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-play-circle"></i><h6>Bài 47: Sao lưu Backup website – Triển khai hosting</h6><span><i class="icon-clock"></i>35 phút</span>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 54: Triển khai web lên Hosting</h6>
                                        </div><h5 class="course_section">Chương 3: Xây dựng website Bán hàng Mẫu 2 và Mẫu 3</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 50: Tích hợp và cấu hình Plugin SEO by Yoast</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 52: Tích hợp và cấu hình chức năng gởi Email cho website</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 49: Tích hợp và cấu hình Plugin Chat Zopim (như myclass.vn)</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 47: Các plugin nâng cao: So sánh giá, Danh sách ưa thích</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 48: Tạo trang Liên hệ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 46: Làm việc với plugin Google Map</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 55: Tạo Trang chủ và cấu hình cho trang web bán hàng 2 – Phần 1</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 56: Tạo Trang chủ và cấu hình cho trang web bán hàng 2 – Phần 2</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 57: Tạo Trang chủ và cấu hình cho trang web bán hàng 2 – Phần 3</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 58: Tạo Trang chủ và cấu hình cho trang web bán hàng 2 – Phần 4</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 59: Tạo Trang chủ và cấu hình cho Trang web bán hàng 3 – phần 1</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 60: Tạo Trang chủ và cấu hình cho Trang web bán hàng 3 – phần 2</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 61: Tạo Trang chủ và cấu hình cho Trang web bán hàng 3- phần 3</h6>
                                        </div><div class="course_lesson">
                                            <i class="icon-"></i><h6>Bài 62 : Xây dựng trang Thêm thương hiệu trên web</h6>
                                        </div><h5 class="course_section">Chương 4: Dự án 2: Dự án web giới thiệu Doanh nghiệp theo Giao diện OnePage</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 63: Giới thiệu dự án &amp; nhu cầu khách hàng</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 64: Layout web doanh nghiệp</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 65: Triển khai dự án theo theo mã nguồn  cung cấp.</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 66: Cấu hình font, logo, footer</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 67: Tuỳ chỉnh header</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 68: Phân biệt layout onepage và multipage</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 69: Page builder trong theme</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 70: Tạo Anchor (điểm liên kết) cho các phần trong onepage</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 71: Tạo slider banner Trang chủ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 72: Tạo box callout nổi bật</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 73: Trình biên soạn Visual Composer</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 74: Tạo phần dịch vụ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 75: Tạo Portfolio – các Dự án của Doanh nghiệp</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 76: Tạo phần qui trình của doanh nghiệp</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 77: Tạo phần nhận xét khách hàng</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 78: Tạo Bài viết – Tin tức cho doanh nghiệp</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 79: Tạo mục liên hệ cho Doanh nghiệp</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 80: Gắn Menu &amp; Anchor cho trang</h6>
                                        </div><h5 class="course_section">Chương 5: Dự án 3: Dự án web giới thiệu Doanh nghiệp Bất động sản</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 81: Giới thiệu dự án &amp; nhu cầu khách hàng</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 82: Cài đặt mã nguồn &amp; chọn theme</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 83: Tạo Danh mục dự án và Dự án</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 84: Tạo menu cho Sidebar</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 85: Tạo homepage</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 86: Tạo trang giới thiệu</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 87: Tạo trang Dự án</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 89: Tạo trang Bài viết – Tin tức</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 90: Tạo trang Liên hệ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 91: Tạo trang Dịch vụ &amp; Bảng giá</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 92: Chỉnh sửa các cấu hình cho website</h6>
                                        </div><h5 class="course_section">Chương 6: Dự án 4: Xây dựng website Nha khoa</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 93: Giới thiệu dự án &amp; Nhu cầu khách hàng</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 94: Tạo và Quản lý Dịch vụ điều trị</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 95: Trang danh sách điều trị</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 96: Tạo và Quản lý Báng giá điều trị</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 97: Tạo trang Quản lý và hiển thị hình ảnh Thiết bị phòng khám</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 98: Tạo và quản lý Bài viết Thông tin Y tế</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 99: Tạo và quản lý Nhận xét khách hàng</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 100: Tạo slider cho trang chủ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 101: Tạo Box Đặt lịch hẹn khám</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 102: Tạo và quản lý danh sách Đối tác</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 103: Tạo footer cho trang web</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 104: Tạo trang chủ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 105: Quản lý menu</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 106: Tạo trang liên hệ</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 107: Cấu hình cho website</h6>
                                        </div><h5 class="course_section">Chương 7: Dự án 5: Xây dựng trang Định Hướng (landing page) hỗ trợ cho Marketing, Giới thiệu sự kiện…</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 108: Trang định hướng là gì</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 109: Tổ chức &amp; lên ý tưởng Trang định hướng cho mục đích kinh doanh</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 110: Cài đặt trang Định hướng từ template</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 111: Xây dựng trang định hướng – Phần 1</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>Bài 112: Xây dựng Trang định hướng phần 2</h6>
                                        </div><h5 class="course_section">Chương 8: Cắt layout Photoshop PSD và dàn lên Worpdress</h5><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>113. Phân tích layout từ file Photoshop PDS</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>114. Cắt layout Photoshop</h6>
                                        </div><div class="course_lesson">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i><h6>115. Dàn layout lên WordPress</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <div id="reviews">
                                <div class="sto-course-reviews">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5 class="title-course-link">Các Khóa Học Liên Quan</h5>
                <div class="sto-course-link">
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <a href="#">
                                        <img src="http://it.myclass.vn/wp-content/uploads/2016/07/learngit-teaser.gif" class="img-responsive" alt="learngit-teaser">
                                    </a>
                                </div><div class="col-md-6 col-sm-6">
                                    <span>Làm chủ GIT để quản lý SourceCode trong Dự án Thực tế</span>
                                    <p>Gía:400.000VNĐ</p>
                                    <div class="item-course-info-rating">
                                        <div class="rate-box">
                                            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


